<nav class="navbar navbar-default navbar-fixed-bottom" style="padding-top:8px;">
	<div class="container-fluid">
		<div id="control-area">
			
			
			
			
			
			
			
			
			
		</div>	
		
		<div class="btn-group pull-right">
			
			<button type="button" class="btn btn-default ">Cancel</button>
			<button type="button" class="btn btn-primary ">Select File</button>
			</div>
		
			
		
	</div>
</nav>